<div ngClass="Search">

  <section ngClass="Params p-4">

    <div>
      <input type="checkbox" id="freeShipping" />
      <label for="freeShipping">Free Shipping</label>
    </div>

    <div>
      <h6>Price</h6>
      <input type="number" placeholder="Min" />
      <input type="number" placeholder="Max" />
    </div>

  </section>

  <section ngClass="Results" *ngIf="products.length !== 0 else showThis">
    <h6>Sort By</h6>
    <div>


      <!--<app-product-card [products]="products"></app-product-card>-->

      <a routerLink="/product/23U" class="card" style="width: 15rem;" *ngFor="let p of products">
        <img src="https://images.samsung.com/is/image/samsung/p6pim/eg/2302/gallery/eg-galaxy-s23-s918-sm-s918bzecmea-534861980" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">{{p.name}}</p>
          <p class="card-text">EGP  <b>{{p.price - (p.price * p.discount / 100)}}</b></p>
          <div>
            <span class="badge text-bg-success">4.8</span>
          </div>
        </div>
      </a>


    </div>

  </section>

  <ng-template #showThis>
    <h1>
      No Results
    </h1>
  </ng-template>

  

</div>
