.Search {
  display: flex;
  justify-content: space-between;

  .Params {
    display: flex;
    flex-direction: column;

    & > div input {
      display: block;
    }
  }

  .Results {
    width: 75%;

    & > div {
      display: grid;
      grid-template-columns: repeat(auto-fill, 15rem);
      justify-content: center;
      justify-items: center;
      gap: 2rem;
    }

    .card{
        text-decoration: none;
    }
  }
}
