<div ngClass="Container">

  <section ngClass="Params">

    <div>
      <input type="checkbox" id="freeShipping"/>
      <label for="freeShipping">Free Shipping</label>
    </div>

    <div>
      <h6>Price</h6>
      <input type="number" placeholder="Min"/>
      <input type="number" placeholder="Max"/>
    </div>

  </section>

  <section ngClass="Results">
    <h6>Sort By</h6>
    <div>
      <div style="width:200px; text-align:center">
        <img src="https://images.samsung.com/is/image/samsung/p6pim/eg/2302/gallery/eg-galaxy-s23-s918-sm-s918bzecmea-534861980" style="width:100%"/>
        <h6>Samsung Galaxy S23 Ultra</h6>
      </div>
      <div style="width:200px">
        <img src="https://images.samsung.com/is/image/samsung/p6pim/eg/2302/gallery/eg-galaxy-s23-s918-sm-s918bzecmea-534861980" style="width:100%"/>
        <h6>Samsung Galaxy S23 Ultra</h6>
      </div>
      <div style="width:200px">
        <img src="https://images.samsung.com/is/image/samsung/p6pim/eg/2302/gallery/eg-galaxy-s23-s918-sm-s918bzecmea-534861980" style="width:100%"/>
        <h6>Samsung Galaxy S23 Ultra</h6>
      </div>
      <div style="width:200px">
        <img src="https://images.samsung.com/is/image/samsung/p6pim/eg/2302/gallery/eg-galaxy-s23-s918-sm-s918bzecmea-534861980" style="width:100%"/>
        <h6>Samsung Galaxy S23 Ultra</h6>
      </div>
      <div style="width:200px">
        <img src="https://images.samsung.com/is/image/samsung/p6pim/eg/2302/gallery/eg-galaxy-s23-s918-sm-s918bzecmea-534861980" style="width:100%"/>
        <h6>Samsung Galaxy S23 Ultra</h6>
      </div>
      <div style="width:200px">
        <img src="https://images.samsung.com/is/image/samsung/p6pim/eg/2302/gallery/eg-galaxy-s23-s918-sm-s918bzecmea-534861980" style="width:100%"/>
        <h6>Samsung Galaxy S23 Ultra</h6>
      </div>
    </div>

  </section>

</div>
