<h1>Cart</h1>
<main ngClass="p-4">

  
  <section ngClass="p-2">

    <div style="display:flex; justify-content:space-between" class="p-4 mb-4">

      <div>
        Samsung Galaxy S23 Ultra 256GB
      </div>

      <div>
        <select>
          <option>1</option>
          <option>2</option>
          <option>3</option>
        </select>
      </div>

      <div>
        <span class="mx-2">1200$</span>
        <button>🗑️</button>
      </div>

    </div>

  </section>

  <section ngClass="p-4">
    <h3>Order Summary</h3>

    <div class="input-group mb-2">
      <input type="text" class="form-control" placeholder="Coupon Code" aria-label="Text input with segmented dropdown button">
      <button type="button" class="btn btn-primary">Apply</button>
    </div>

    <div>
      <span>Subtotal</span>
      <span></span>
    </div>
    
    <div>
      <span>Shipping</span>
      <span></span>
    </div>
    
    <div>
      <span>Total</span>
      <span></span>
    </div>


    <button ngClass="btn btn-primary w-100">Checkout</button>

  </section>

</main>
